In [1]:
import pandas as pd

In [6]:
train_data = pd.read_csv('data/train.csv',names=['乘客ID','是否幸存','仓位等级','姓名','性别','年龄','兄弟姐妹个数','父母子女个数','船票信息','票价','客舱','登船港口'],index_col='乘客ID',header=0)

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   是否幸存    891 non-null    int64
 1   仓位等级    891 non-null    int64
 2   姓名      891 non-null    object
 3   性别      891 non-null    object
 4   年龄      714 non-null    float64
 5   兄弟姐妹个数  891 non-null    int64
 6   父母子女个数  891 non-null    int64
 7   船票信息    891 non-null    object
 8   票价      891 non-null    float64
 9   客舱      204 non-null    object
 10  登船港口    889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [8]:
train_data.head()

,是否幸存,仓位等级,姓名,性别,年龄,兄弟姐妹个数,父母子女个数,船票信息,票价,客舱,登船港口
乘客ID,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
X_train = train_data[['仓位等级','兄弟姐妹个数','父母子女个数','票价']]
y_train = train_data['是否幸存']

In [23]:
from sklearn.linear_model import LogisticRegression
logr = LogisticRegression(penalty='none')
logr.fit(X_train,y_train)
print(logr.coef_,logr.intercept_)

[[-0.69531773 -0.14650491  0.25571083  0.00507331]] [0.91174555]